$metro-color-lime: #A4C400;
$metro-color-green: #60A917;
$metro-color-emerald: #008A00;
$metro-color-teal: #00ABA9;
$metro-color-cyan: #1BA1E2;
$metro-color-cobalt: #3E65FF;
$metro-color-indigo: #6A00FF;
$metro-color-violet: #AA00FF;
$metro-color-pink: #F472D0;
$metro-color-magenta: #D80073;
$metro-color-crimson: #A20025;
$metro-color-red: #E51400;
$metro-color-orange: #FA6800;
$metro-color-amber: #F0A30A;
$metro-color-yellow: #E3C800;
$metro-color-brown: #825A2C;
$metro-color-olive: #6D8764;
$metro-color-steel: #647687;
$metro-color-mauve: #76608A;
$metro-color-taupe: #87794E;

:root {
  --metro-color-lime: #{$metro-color-lime};
  --metro-color-green: #{$metro-color-green};
  --metro-color-emerald: #{$metro-color-emerald};
  --metro-color-teal: #{$metro-color-teal};
  --metro-color-cyan: #{$metro-color-cyan};
  --metro-color-cobalt: #{$metro-color-cobalt};
  --metro-color-indigo: #{$metro-color-indigo};
  --metro-color-violet: #{$metro-color-violet};
  --metro-color-pink: #{$metro-color-pink};
  --metro-color-magenta: #{$metro-color-magenta};
  --metro-color-crimson: #{$metro-color-crimson};
  --metro-color-red: #{$metro-color-red};
  --metro-color-orange: #{$metro-color-orange};
  --metro-color-amber: #{$metro-color-amber};
  --metro-color-yellow: #{$metro-color-yellow};
  --metro-color-brown: #{$metro-color-brown};
  --metro-color-olive: #{$metro-color-olive};
  --metro-color-steel: #{$metro-color-steel};
  --metro-color-mauve: #{$metro-color-mauve};
  --metro-color-taupe: #{$metro-color-taupe};

  --disco-color-lime: var(--metro-color-lime);
  --disco-color-green: var(--metro-color-green);
  --disco-color-emerald: var(--metro-color-emerald);
  --disco-color-teal: var(--metro-color-teal);
  --disco-color-cyan: var(--metro-color-cyan);
  --disco-color-cobalt: var(--metro-color-cobalt);
  --disco-color-indigo: var(--metro-color-indigo);
  --disco-color-violet: var(--metro-color-violet);
  --disco-color-pink: var(--metro-color-pink);
  --disco-color-magenta: var(--metro-color-magenta);
  --disco-color-crimson: var(--metro-color-crimson);
  --disco-color-red: var(--metro-color-red);
  --disco-color-orange: var(--metro-color-orange);
  --disco-color-amber: var(--metro-color-amber);
  --disco-color-yellow: var(--metro-color-yellow);
  --disco-color-brown: var(--metro-color-brown);
  --disco-color-olive: var(--metro-color-olive);
  --disco-color-steel: var(--metro-color-steel);
  --disco-color-mauve: var(--metro-color-mauve);
  --disco-color-taupe: var(--metro-color-taupe);
}
