body {
	color: red;
}

:root {
	--disco-bg: rgb(calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)));
	transition: --disco-theme 250ms ease-in-out;
	--disco-fg: rgb(calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)));
	--disco-accent: attr(disco-accent color, #d80073);
	--disco-font: attr(disco-font string, 'Segoe UI', sans-serif);
	--disco-theme: 0;		
	
}

@property --disco-theme {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

[disco-theme='dark'] {
	--disco-theme: 0;
}

[disco-theme='light'] {
	--disco-theme: 1;
}

[disco-theme='auto'] {
	--disco-theme: 0;
}

@media (prefers-color-scheme: light) {
	[disco-theme='auto'] {
		--disco-theme: 1;
	}
}