@use 'ui-elements/disco-ui-element.scss' as ui;

:host {
    display: inline-flex;
    align-items: center;
}

.wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--disco-foreground);
    font-size: 21px;
}

:host(:not([disabled])) .wrapper {
    @include ui.disco-tilt;
}

.input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.box {
    width: 32px;
    height: 32px;
    border: 3px solid var(--disco-foreground);
    background-color: var(--disco-background);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.box::after {
    content: '';
    width: 10px;
    height: 6px;
    border-left: 2px solid var(--disco-foreground);
    border-bottom: 2px solid var(--disco-foreground);
    transform: rotate(-45deg);
    opacity: 0;
}

.input:checked+.box::after {
    opacity: 1;
}


/* Pressed state: background becomes accent and check becomes white, only inside the box. Border is unchanged. */
:host(:not([disabled])) .wrapper[data-pressed] {
    .box,
    .input+.box {
        background-color: var(--disco-accent);

        &::after {
            border-left-color: #fff;
            border-bottom-color: #fff;
        }
    }
}

:host([disabled]) .wrapper {
    opacity: 0.5;
}

.text {
    display: inline-flex;
    align-items: center;
}