/* Minimal flip view styles: children are full page slides */
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ensure the internal scroll-content uses horizontal flex when direction=horizontal */
.scroll-content {
  height: 100%;
}

/* Ensure slotted children become full-page slides. Use direction attribute to apply appropriate sizing. */
:host([direction='horizontal']) ::slotted(*) {
  flex: 0 0 100%;
  //min-width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

:host([direction='vertical']) ::slotted(*) {
  flex: 0 0 100%;
  //min-height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
}
