disco-frame {
  position: fixed;
  display: flex;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--disco-font);
  background-color: var(--disco-bg);
}

disco-frame[disco-launched] {
  visibility: visible;
}