@mixin disco-tilt {
  transition: transform .25s .25s ease-out;
  transform-style: preserve-3d;

  &[data-pressed] {
    transition: transform .1ms;
  }
}

@mixin disco-fill-slotted-scrollables {

  & ::slotted(disco-scroll-view),
  & ::slotted(disco-list-view) {
    flex: 1;
    min-height: 0;
    align-self: stretch;
    padding: 0 20px;
    padding-bottom: 120px;
    margin: 0 -20px;
  }
}