:root {
	--disco-bg: rgb(calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)));
	transition: --disco-theme 250ms ease-in-out;
	--disco-fg: rgb(calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)));
	--disco-accent: attr(disco-accent type(<color>), #d80073);
	--disco-font: attr(disco-font raw-string, 'Open Sans', sans-serif);
	--disco-theme: 0;
	--disco-perspective: 1000px;
	--disco-page-in-ease: var(--disco-ease-out-quart, ease-out);
	--disco-page-out-ease: var(--disco-ease-out-quad, ease-in);
	font-family: var(--disco-font, 'Open Sans', sans-serif);
	background-color: var(--disco-bg);
	color: var(--disco-fg);
}

* {
	user-select: none;
	-webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	touch-action: none;
	cursor: default !important;
}

@property --disco-theme {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

[disco-theme='dark'] {
	--disco-theme: 0;
}

[disco-theme='light'] {
	--disco-theme: 1;
}

[disco-theme='auto'] {
	--disco-theme: 0;
}

@media (prefers-color-scheme: light) {
	[disco-theme='auto'] {
		--disco-theme: 1;
	}
}