disco-frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--disco-font);
  background-color: var(--disco-bg);

  &[disco-launched] {
    visibility: visible;
  }

  * {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
  }
}