@use 'disco-ui-element.scss';

disco-frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--disco-font);
  background-color: var(--disco-bg);
  perspective: var(--disco-perspective);
  perspective-origin: center;

  &[disco-launched] {
    visibility: visible;
  }

  * {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    transform-style: preserve-3d;
    perspective: var(--disco-perspective);
  }
}