@use 'disco-ui-element.scss';

disco-frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--disco-font);
  background-color: var(--disco-bg);
  perspective-origin: center;
  perspective: var(--disco-perspective);

  > *[hidden] {
    display: none !important;
  }

  &[disco-launched] {
    visibility: visible;
  }

  * {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    transform-style: preserve-3d !important;

    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      height: 0 !important;
    }

    &:-moz-scrollbar {
      display: none;
      width: 0 !important;
      height: 0 !important;
    }

  }
}