:root {
	--disco-background: rgb(calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)) calc(255 * var(--disco-theme)));
	transition: --disco-theme 250ms ease-in-out;
	--disco-foreground: rgb(calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)) calc(255 - 255 * var(--disco-theme)));
	--disco-accent: attr(disco-accent type(<color>), #d80073);
	--disco-font: attr(disco-font raw-string, 'Open Sans', sans-serif);
	--disco-inset-top: calc(attr(disco-inset-top number, 0) * 1px);
	--disco-inset-right: calc(attr(disco-inset-right number, 0) * 1px);
	--disco-inset-bottom: calc(attr(disco-inset-bottom number, 0) * 1px);
	--disco-inset-left: calc(attr(disco-inset-left number, 0) * 1px);
	--disco-status-bar-background: attr(disco-status-bar-color type(<color>), var(--disco-background));
	--disco-nav-bar-background: attr(disco-nav-bar-color type(<color>),
			color-mix(in srgb, var(--disco-background) 50%, transparent));
	--disco-theme: 0;
	--disco-scale: attr(disco-scale number, .8);
	--disco-perspective: calc(100vw / (var(--disco-scale, 0.8)) * 4);

	--disco-vw: calc(100vw / var(--disco-scale, 0.8));
	--disco-vh: calc(100vh / var(--disco-scale, 0.8));
	--disco-page-in-ease: var(--disco-ease-out-quart, ease-out);
	--disco-page-out-ease: var(--disco-ease-out-quad, ease-in);
	font-family: var(--disco-font, 'Open Sans', sans-serif);
	background-color: var(--disco-background);
	color: var(--disco-foreground);
}

* {
	user-select: none;
	-webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	touch-action: none;
	cursor: default !important;
}

@property --disco-theme {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

[disco-theme='dark'] {
	--disco-theme: 0;
}

[disco-theme='light'] {
	--disco-theme: 1;
}

[disco-theme='auto'] {
	--disco-theme: 0;
}

@media (prefers-color-scheme: light) {
	[disco-theme='auto'] {
		--disco-theme: 1;
	}
}