@use '../disco-ui-element.scss' as ui;

:host {
    display: inline-block;
    vertical-align: top;
    transform-style: preserve-3d;
    pointer-events: auto;
}

.ellipsis-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: default;
    /* Reset cursor */
    transform: none !important;

    .ellipsis-icon {
        margin-top: -32px;
        margin-left: -5px;
        letter-spacing: 3px;
    }
}