@use '../disco-ui-element.scss' as ui;

:host {
    background-color: var(--disco-bg);
    color: var(--disco-fg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    perspective: var(--disco-perspective);

    * {
        transform-style: preserve-3d;
    }
}

.single-shell {
    height: 100%;
}

.single-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-title {
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 20px 0;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.header-strip {
    display: flex;
    gap: 25px;
    padding: 10px 20px 20px;
    overflow: hidden;
    scrollbar-width: none;
}

.header-strip::-webkit-scrollbar {
    display: none;
}

.header-item {
    font-size: 45px;
    font-weight: 100;
    white-space: nowrap;
    text-transform: lowercase;
}

.content-viewport {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    transform-style: preserve-3d;

    @include ui.disco-fill-slotted-scrollables;
}

.content-viewport::-webkit-scrollbar {
    display: none;
}