:host {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 20px;
  display: block;
  margin-right: 100%;
}
