:host {
  flex: 0 0 100%;
  height: 100%;
  width: var(--disco-vw);
  max-width: var(--disco-vw);
  min-width: var(--disco-vw);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 20px;
  display: block;
  * {
    transform-style: preserve-3d;
  }
}