@use '../looping-selector/disco-looping-selector.scss' as slider;

@include slider.disco-looping-selector('time-picker');

:host {
    --smallest-viewport: calc(min(min(var(--disco-vw), var(--disco-vh)), 720px));
    --time-picker-tile-width: calc((var(--smallest-viewport) - 48px - var(--time-picker-gap) * 2) / 3);
    --time-picker-tile-height: var(--time-picker-tile-width);
}

.time-picker-item {
    align-items: start;
    justify-content: end;
    padding: 7px 7px;
}

.time-picker-primary {
    font-size: 55px;
}

.time-picker-secondary {
    display: none;
}