:host .picker-root {
    background: transparent;
    transform-style: preserve-3d;
}

:host .app-title,
:host .picker-footer {
    display: none;
}

.dialog-viewport {
    width: 100%;
    height: 100%;
}

.dialog-stage {
    position: relative;
    width: 100%;
    height: 100%;
    animation: 0.3s ease-out disco-dialog-layer-enter forwards;
    perspective: var(--disco-perspective);
}

.dialog-stage.exit {
    animation: 0.3s ease-out disco-dialog-layer-exit forwards;
}

.dialog-backdrop {
    position: absolute;
    inset: 0;
    background: rgb(calc(255 * var(--disco-theme, 0)) calc(255 * var(--disco-theme, 0)) calc(255 * var(--disco-theme, 0)) / 0.5);
}

.dialog-panel {
    position: absolute;
    top: 0;
    left: var(--disco-inset-left);
    right: var(--disco-inset-right);
    min-height: 122px;
    padding: calc(var(--disco-inset-top) + 22px) 24px 24px;
    box-sizing: border-box;
    color: var(--disco-foreground);
    transform-origin: center center;
    background: var(--disco-background-secondary);
    animation: 0.25s disco-dialog-panel-enter var(--disco-ease-out-circ, ease-out) forwards;
    transform-style: flat;
    perspective: var(--disco-perspective);
    perspective-origin: 50% calc(50% + var(--disco-vh) / 2)
}

.dialog-stage.exit .dialog-panel {
    animation: 0.1s ease-in disco-dialog-panel-exit forwards;
}

.dialog-title {
    margin: 0;
    font-size: 32px;
    line-height: 1.1;
    text-transform: lowercase;
    font-weight: 400;
}

.dialog-content {
    margin-top: 22px;
}

@keyframes disco-dialog-panel-enter {
    from {
        transform: rotateX(60deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

@keyframes disco-dialog-panel-exit {
    0% {
        transform: rotateX(0deg);
    }

    99.99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}

@keyframes disco-dialog-layer-enter {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes disco-dialog-layer-exit {
    0% {
        opacity: 1;
    }

    29.99% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}