@use '../disco-ui-element.scss' as ui;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    touch-action: none;
    overscroll-behavior: contain;
}

:host([data-animating]) {
    overflow: visible !important;
}

.section-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    touch-action: none;
    overscroll-behavior: contain;
}

:host([data-animating]) .section-root {
    overflow: visible !important;
}

.section-header {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    text-transform: lowercase;
    margin: 0;
    opacity: 0.8;
    text-transform: uppercase;
}

.section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: none;
    overscroll-behavior: contain;

    @include ui.disco-fill-slotted-scrollables;
}

:host([data-animating]) .section-content {
    overflow: visible !important;
}

.section-content ::slotted(disco-list-view),
.section-content ::slotted(disco-scroll-view),
.section-content ::slotted(disco-flip-view) {
    flex: 1;
    align-self: stretch;
    width: 100%;
    height: 100%;
    min-height: 0;
}