/*import disco animations.css*/
@use '../animations/disco-animations.scss';
@use '../disco-page.scss' as page;

:host {
    @include page.disco-page-base;
    position: relative;
    overflow: visible;
    user-select: none;
    background-color: var(--disco-background, #000);
    color: var(--disco-foreground, #fff);
}

:host([data-animating]) {
    overflow: visible !important;
}

.hub-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    /* Wider than viewport for parallax */
    z-index: 0;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    pointer-events: none;
    overflow: hidden;



    /*--bg-pos-x: 0%;
    background-position: calc(var(--bg-pos-x) + var(--bg-animate-offset) * 1%) 50%;


    &.hub-background-animate-right {
        animation: hub-background-animate-right 1s ease forwards !important;
    }

    &.hub-background-animate-left {
        animation: hub-background-animate-left 1s ease forwards !important;
    }*/
}

.hub-background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.hub-shell {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

:host([data-animating]) .hub-shell {
    overflow: visible !important;
}

.hub-header {
    padding: 5px 20px 28px 20px;
    z-index: 2;
    --translate-x: 0px;
    transform: translateX(var(--translate-x)) translateX(var(--animate-offset));

    &.hub-header-animate-right {
        animation: hub-header-animate-right 1s ease forwards !important;
    }

    &.hub-header-animate-left {
        animation: hub-header-animate-left 1s ease forwards !important;
    }
}

@keyframes hub-header-animate-left {
    0% {
        --animate-offset: 300px;
        animation-timing-function: var(--disco-ease-in-quint);
    }

    20% {
        --animate-offset: 700px;
        animation-timing-function: var(--disco-ease-in-quint);
    }

    20.00001% {
        --animate-offset: -400px;
        animation-timing-function: var(--disco-ease-out-quint);
    }

    100% {
        --animate-offset: 0px;
        animation-timing-function: var(--disco-ease-out-quint);
    }
}

@keyframes hub-header-animate-right {
    0% {
        --animate-offset: -300px;
        animation-timing-function: var(--disco-ease-in-quint);
    }

    20% {
        --animate-offset: -700px;
        animation-timing-function: var(--disco-ease-in-quint);
    }

    20.00001% {
        --animate-offset: 400px;
        animation-timing-function: var(--disco-ease-out-quint);
    }

    100% {
        --animate-offset: 0px;
        animation-timing-function: var(--disco-ease-out-quint);
    }
}

/*
@keyframes hub-background-animate-left {
    0% {
        --bg-animate-offset: 50;
        animation-timing-function: var(--disco-ease-out-quart);
    }

    100% {
        --bg-animate-offset: 0;
        animation-timing-function: var(--disco-ease-out-quart);
    }
}

@keyframes hub-background-animate-right {
    0% {
        --bg-animate-offset: -50;
        animation-timing-function: var(--disco-ease-out-quart);
    }
    100% {
        --bg-animate-offset: 0;
        animation-timing-function: var(--disco-ease-out-quart);
    }
}
*/
.hub-title {
    font-size: 90px;
    font-weight: lighter;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    text-transform: lowercase;
    opacity: 0.9;
}

.hub-viewport {
    flex: 1;
    display: block;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
}

:host([data-animating]) .hub-viewport {
    overflow: visible !important;
}