@use '../slider-picker/disco-slider-picker.scss' as slider;

@include slider.disco-slider-picker('date-picker');

@media (max-width: 420px) {
    :host {
        --date-picker-gap: 12px;
        --date-picker-tile-width: calc((var(--disco-vw) - 48px - var(--date-picker-gap) * 2) / 3);
        --date-picker-tile-height: var(--date-picker-tile-width);
    }

    .date-picker-primary {
        font-size: 30px;
    }

    .date-picker-secondary {
        font-size: 12px;
    }
}