@use 'components/disco-app.scss';
@use 'components/disco-frame.scss';
@use 'components/disco-splash.scss';

body {
	margin: 0;
	background-color: var(--disco-background);
	color: var(--disco-foreground);
}