@use '../disco-ui-element.scss';

:host {
  display: block;
  touch-action: pan-y;

  * {
    transform-style: preserve-3d;
    perspective: var(--disco-perspective);
  }
}

.list {
  display: block;
  transform-style: preserve-3d;
}

::slotted(disco-list-item) {
  display: block;
}