@use '../disco-ui-element.scss' as ui;
@use '../disco-scroll-view.scss' as scroll;

@include scroll.disco-scroll-view-base;

:host {
  touch-action: pan-y;

  * {
    transform-style: preserve-3d;
    perspective: var(--disco-perspective);
  }
}

.list {
  display: block;
  transform-style: preserve-3d;
}

::slotted(disco-list-item) {
  @include ui.disco-tilt;
  display: block;
}