:host {
  display: block;
  width: 100%;
  touch-action: none;
}

.slider {
  position: relative;
  --flow-metro-range-input: true;
  -webkit-appearance: none;
  appearance: none;
  touch-action: none;
  width: 100%;
  height: 12px;
  --percentage: 0%;
  --step: 1%;
  outline: none;
  background: linear-gradient(
    90deg,
    var(--disco-accent) var(--percentage),
    var(--disco-background-tertiary) var(--percentage)
  );
}

.slider::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(-90deg, var(--disco-background) 2px, transparent 2px);
  background-size: var(--step) 100%;
  opacity: var(--disco-slider-step-overlay-opacity, 1);
}

.slider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 24px;
  background: var(--disco-foreground);
  z-index: 10;
  border: 0;
}

.slider::-moz-range-thumb {
  position: relative;
  width: 12px;
  height: 24px;
  background: var(--disco-foreground);
  z-index: 10;
  border: 0;
  border-radius: 0;
}

:host([disabled]) .slider {
  opacity: 0.5;
}
