name: Tests

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  unit-and-types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.1
          cache: npm
      - name: Install
        run: npm ci
      - name: Unit tests
        run: npm test
      - name: Type check
        run: npm run types
